.footer-container{
    background-image: url('../img/YatuCover002.jpg');
    background-repeat: no-repeat;
	background-size: cover;
    position: absolute;
    height: 24vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.footer a:link, .footer a:visited{
	padding: 5px 0px;
	text-decoration: none;
    display: inline-block;
    color: rgb(36, 33, 33);
}
span{
    font-size: 30px;
    color: rgb(151, 52, 6);
}

