a:link,
a:visited {
	color: rgb(8, 7, 7);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
}

a:hover,
a:active {
	background-color: rgb(131, 170, 160);
	color: white;
}
